In [216]:
from ctypes import *
from ctypes.util import find_library
import pandas as pd
import numpy as np

In [217]:


cols = ['Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight', 'Rings']
df = pd.read_csv('abalone.csv', names = cols)

sex = {'M': 1, "F": -1, "I": 0}
df['Sex'] = df['Sex'].apply(lambda x: sex[x])
df['Rings'] = np.where(df['Rings']>=9, 1, -1)

df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,1
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,1
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,1
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,-1

In [218]:
cols_order = ['Rings','Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight', 'Viscera weight', 'Shell weight']
df = df[cols_order]
df.head()

,Rings,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,1,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,-1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,1,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,1,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,-1,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

In [219]:
labels = [str(i)+': ' for i in range(1,9)]

def labeling(x):
    data = x.values
    st = str(data[0]) + ' '
    for i in range(1,9):
        st = st+ labels[i-1] + str(data[i])+' '
    return st

# Sample
a = df.iloc[0]
labeling(a)

'1.0 1: 1.0 2: 0.455 3: 0.365 4: 0.095 5: 0.514 6: 0.2245 7: 0.10099999999999999 8: 0.15 '

In [242]:
data_set = df.apply(lambda x: labeling(x), axis = 1)
data_set

0       1.0 1: 1.0 2: 0.455 3: 0.365 4: 0.095 5: 0.514...
1       -1.0 1: 1.0 2: 0.35 3: 0.265 4: 0.09 5: 0.2255...
2       1.0 1: -1.0 2: 0.53 3: 0.42 4: 0.135 5: 0.677 ...
3       1.0 1: 1.0 2: 0.44 3: 0.365 4: 0.125 5: 0.516 ...
4       -1.0 1: 0.0 2: 0.33 3: 0.255 4: 0.08 5: 0.205 ...
                              ...
4172    1.0 1: -1.0 2: 0.565 3: 0.45 4: 0.165 5: 0.887...
4173    1.0 1: 1.0 2: 0.59 3: 0.44 4: 0.135 5: 0.966 6...
4174    1.0 1: 1.0 2: 0.6 3: 0.475 4: 0.205 5: 1.176 6...
4175    1.0 1: -1.0 2: 0.625 3: 0.485 4: 0.15 5: 1.094...
4176    1.0 1: 1.0 2: 0.71 3: 0.555 4: 0.195 5: 1.9485...
Length: 4177, dtype: object

In [ ]:
data_set = df.apply(lambda x: labeling(x), axis = 1)
data_set[:3133].to_csv('train.data',index = False, header = False)
data_set[3133:].to_csv('test.data',index = False, header = False)